<header>
  <div class="header-container uppermenu">
    <div class="container">
      <div class="site-name"><a routerLink="/dashboard">iDeel</a></div>
      <ul class="header_login">
        <li *ngIf="auth.isAuthenticated()" (click)="auth.logout()"><a routerLink="/welcome"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
        <li *ngIf="!auth.isAuthenticated()" (click)="auth.login()"><a><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a></li>

      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="header-container main-header">
    <div class="container">

      <a class="logo" routerLink="/dashboard"></a>


      <form class="search" #form="ngForm" (ngSubmit)="submitForm(form.value)">
        <input class="searchbar" value="" name="search" type="text" />
        <button class="search-submit" type="submit">
										<i class="fa fa-search"></i>
									</button>
      </form>


      <div class="clear"></div>
    </div>
  </div>
</header>
<!--<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">iDeel</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/welcome">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  routerLink="/dashboard" ><i class="fa fa-newspaper-o" aria-hidden="true"></i> Dashboard</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
</nav>-->