<footer>
  <div class="footer-container">
    <div class="container">

      <div class="address">
      </div>
      <div class="clear"></div>
      <div class="social">
        <a href="#" class="social-icons" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social-icons" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-icons" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="social-icons" target="_blank"><i class="fa fa-shopping-cart"></i></a>
      </div>
      <div class="row copyrights">
        &copy; <span>2017 </span> IDeel Inc. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>