<div class="row text-center">
  <div class="col-sm-5" *ngFor="let result of jobs" id="eachCard">
    <div class="card">
      <div class="card-block" >
        <h3 class="card-title">{{result.companyName}}</h3>
        <p class="card-text">
          Title: {{result.title}}<br>
          {{result.description}}<br>
          City: {{result.city}}<br>
          Salary: {{result.salary}}<br></p>          
        <a (click)="onClick(result.jobID)" class="btn viewButton">View</a>
      </div>
    </div>
  </div>
</div>