<div class="col_third" >
  <div class="hover panel">
    <div class="front">
      <div class="box1">
        <p id="jobID">999</p>
        <p>Google</p>
        <p>123 sample st, Seattle, WA</p>
        <p>Description of the job</p>
      </div>
    </div>
    <div class="back">
      <div class="box2" (click)="onClick(1)">
        <p>Detail information</p>
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="cards" *ngFor="let job of jobs">
  <div class="col_third" (click)="onClick(job.jobID)">
    <div class="hover panel">
      <div class="front">
        <div class="box1">
          <p>{{job.companyName}}</p>
          <p>{{job.city}}</p>
          <p>Salary: ${{job.salary}}/hour</p>
        </div>
      </div>
      <div class="back">
        <div class="box2">
          <p>{{job.description}}</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<div class="row text-center">
  <div class="col-sm-5" *ngFor="let result of jobs" id="eachCard">
    <div class="card">
      <div class="card-block" >
        <h3 class="card-title">{{result.companyName}}</h3>
        <p class="card-text">
          Title: {{result.title}}<br>
          {{result.description}}<br>
          City: {{result.city}}<br>
          Salary: {{result.salary}}<br></p>          
        <a (click)="onClick(result.jobID)" class="btn viewButton">View</a>
      </div>
    </div>
  </div>
</div>-->