<div class="container">
    <div class="row" id="userInfo">
    <img src="https://tse1.mm.bing.net/th?id=OIP.FjewODdZ7qH0pRWT3HWblQEsDJ&pid=15.1" class="img-thumbnail rounded mx-auto d-block" alt="profile picture">
    </div>
    <div class="text-center">        
        <div class="btn-group" >
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selections
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" (click) = "onClick()" href="#">View Information</a>
                <a class="dropdown-item" href="#">List of Interests</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>
        
   
        <div>
            <button type="button" class="btn btn-info">
                POST 
            </button>
        </div> 
        
    </div>
</div>
