<div class="row">
  <div class="text-center">
    <div>
      <img src="{{profile?.picture}}" class="rounded img-thumbnail" height="200" width="200" alt="{{profile?.nickname}}">
    </div>
  </div>
</div>

<div class="row">
  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      User Settings
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" >User Profile</a>
      <a class="dropdown-item" >Another action</a>
      <a class="dropdown-item" >Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" >Log out</a>
    </div>
  </div>
</div>

<div class="row">
  <button type="button" class="btn btn-info" *ngIf="!isBusiness" (click)="onClickToPostJob()">POST</button>
</div>
<div class="row">
  <button type="button" class="btn btn-info" *ngIf="!isExisted" (click)="updateInfoFirstTime()">UPDATE INFO</button>
</div>
    




