<div class="jumbotron" style="margin-top: 70px; margin-left:20px;">
    <h2 style="margin-bottom:20px; margin-top:-35px;">Post Job</h2>
    <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
      <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" placeholder="Storage Cleaner" name="title" ngModel required>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" placeholder="My description" name="description" ngModel required>
      </div>

      <div class="form-group">
        <label>Company Name</label>
        <input type="text" class="form-control" placeholder="My Company" name="companyName" ngModel required>
      </div>

      <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control" placeholder="123 12th Lincoln, Seattle WA" name="location" ngModel required>
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" placeholder="123456789" name="phoneNo" ngModel required>
      </div>

      <div class="form-group">
        <label>Salary</label>
        <input type="text" class="form-control" placeholder="321" name="salary" ngModel required>
      </div>

      <div class="form-group">
        <label>Start Date</label>
        <input type="text" class="form-control" placeholder="12-24-17" name="startDate" ngModel required>
      </div>
      
      <div class="form-group">
        <label>End Date</label>
        <input type="text" class="form-control" placeholder="12-24-17" name="endDate" ngModel required>
      </div>

      <div class="form-group">
        <button type="submit" class="btn" style="width:90px;">Submit</button>
        <button class="btn" style="width:90px;" routerLink="/dashboard">Cancel</button>
        
      </div>
    </form>
  </div>