<div class="container">
  <div>
      <h1>Job Title: {{jobInfo?.title}}</h1><br>
  </div>

  <div>
      <p>Job ID: {{jobInfo?.jobID}}</p><br>
  </div>

  <div>
      <p>Description: {{jobInfo?.description}}</p><br>
  </div>

  <div>
      <p>Company: {{jobInfo?.companyName}}</p><br>
  </div>

  <div>
      <p>Location: {{jobInfo?.city}}</p><br>
  </div>

  <div>
      <p>Salary: {{jobInfo?.salary}}</p><br>
  </div>


  <div class="buttonContainers">
      <div>
        <button type="button" class="applyButton" (click)="applyJob()">Apply</button>
        <button type="button" class="saveButton" (click)="saveJob()">Save</button>
      </div>

      <div>
        <button type="button" class="updateButton" (click)="updateJob()">Update Job</button>
        <button type="button" class="deleteButton" (click)="deleteJob(jobInfo?.jobID)">Delete</button>
      </div>
  </div>
</div>
