<div class="detail">
  <div>
      <h1>Job Title: {{jobInfo?.title}}</h1><br>
  </div>

  <div>
      <p>Job ID: {{jobInfo?.jobID}}</p><br>
  </div>

  <div>
      <p>Description: {{jobInfo?.description}}</p><br>
  </div>

  <div>
      <p>Company: {{jobInfo?.companyName}}</p><br>
  </div>

  <div>
      <p>City: {{jobInfo?.city}}</p><br>
  </div>

  <div>
      <p>Address: {{jobInfo?.address}}</p><br>
  </div>

  <div>
      <p>Zipcode: {{jobInfo?.zipcode}}</p><br>
  </div>

  <div>
      <p>Salary: {{jobInfo?.salary}}</p><br>
  </div>

    <div class="btnholder">
      <button type="button" class="btn" style="width:90px;" (click)="applyJob()">Apply</button>
      <button type="button" class="btn" style="width:90px;" (click)="saveJob(1,1)">Save</button>
      <button type="button" class="btn" style="width:90px;" (click)="updateJob()">Update Job</button>
      <button type="button" class="btn" style="width:90px;" (click)="deleteJob(jobInfo?.jobID)">Delete</button>
      <button type="button" class="btn" style="width:90px;" routerLink="/dashboard">Back</button>
      
    </div>
</div>
